 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

 .font-playfair {
   font-family: 'Playfair Display', serif;
 }

 .tp-header-logo img {
   width: 300px !important;
 }

 .banner-text-padding {
   padding: 0 30px;
 }